.btn-container {
  float: right;
  color:yellow;
  background-color:purple;
}

button{
  background-color: blueviolet;
  color:black;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}
